@model IEnumerable<GestionHopital.Models.Appointment>

@{
    Layout = "~/Views/Shared/_LayoutSecretary.cshtml";
    ViewData["Title"] = "Users";
}
<!-- /.card -->
<div class="row">
    <div class="col-12" style="margin: 10px;">
        <a href="#" class="btn btn-secondary">Cancel</a>
        <a asp-area="" asp-controller="Appointment" asp-action="CreateAppointment">

  
        </a>
    </div>
</div>

<!-- ... (previous HTML code) ... -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Appointment</h3>
    </div>


    <!-- /.card-header -->

    <div class="card-body">
        <table id="PatientTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Appointment ID</th>
                    <th scope="col">Department</th>
                    <th scope="col">Doctor</th>

                    <th scope="col">Date</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Name Patient</th>
                    <th scope="col">Email </th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address </th>
   
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.AppointID</td>
                        <td>@appointment.Doctor.Name</td>
                        @* <td>@appointment.DoctorID</td> *@
                       
                        <td>@appointment.Date.ToString("dd/MM/yyyy")</td>
                        <td>@appointment.Disease</td>
                       <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                    </tr>
                }
            </tbody>
            <tfoot>
                <!-- Add footer if needed -->
            </tfoot>
        </table>
    </div>

    <!-- /.card-body -->
</div>
<!-- /.card -->


