@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Users";
}
<!-- /.card -->
<div class="row">
    <div class="col-12" style="margin: 10px;">
        <a href="#" class="btn btn-secondary">Cancel</a>
        <a asp-area="" asp-controller="admin" asp-action="CreateAdmin">

            <input type="submit" value="Create new Admin" class="btn btn-success float-right">
        </a>
    </div>
</div>

<!-- ... (previous HTML code) ... -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title">admin</h3>
    </div>


    <!-- /.card-header -->

    <div class="card-body">
        <table id="PatientTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">admin ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var admin in Model)
                {
                    <tr>

                        <td>@admin.Id</td>
                        <td>@admin.Name</td>
                        <td>@admin.Phone</td>
                        <td>@admin.Address</td>
                        <td>@admin.BirthDate.ToString("dd/MM/yyyy")</td>
                        <td>@admin.Gender</td>
                        <td>@admin.role.RoleName</td>
                        <td>@admin.Email</td>
                        <td>@admin.Password</td>
                        <td>
                            @Html.ActionLink("Edit", "EditAdmin", new { id = admin.Id })
                            @Html.ActionLink("Delete", "DeleteAdmin", new { id = admin.Id })
                            @Html.ActionLink("Details", "DetailsAdmin", new { id = admin.Id })
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <!-- Add footer if needed -->
            </tfoot>
        </table>
    </div>

    <!-- /.card-body -->
</div>
<!-- /.card -->
