@model List<OtherStaff>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "OtherStaff";
}

<!-- /.card -->
<div class="row">
    <div class="col-12" style="margin: 10px;">
        <a href="#" class="btn btn-secondary">Cancel</a>
        <a asp-area="" asp-controller="Secretary" asp-action="CreateSecretary">
            <input type="submit" value="Create new Secretary" class="btn btn-success float-right">
        </a>
    </div>
</div>

<!-- ... (previous HTML code) ... -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Secretary</h3>
    </div>


    <!-- /.card-header -->

    <div class="card-body">
        <table id="departmentTable" class="table table-responsive table-bordered table-striped">
            <thead>
                <tr>
                    <th>StaffID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>BirthDate</th>
                    <th>Gender</th>
                    <th>DocNo</th>
                    <th>Salary</th>
                    <th>Designation</th>
                 
                    <th>Highest Qualification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var OtherStaff in Model)
                {
                    <tr>

                        <td>@OtherStaff.StaffID</td>
                        <td>@OtherStaff.Name</td>
                        <td>@OtherStaff.Phone</td>
                        <td>@OtherStaff.Address</td>
                        <td>@OtherStaff.BirthDate</td>
                        <td>@OtherStaff.Gender</td>
                        <td>@OtherStaff.Doctor.DoctorID</td>
                        <td>@OtherStaff.Salary</td>
                        <td>@OtherStaff.Designation</td>
                        <td>@OtherStaff.Highest_Qualification</td>

                       
                        <td>
                            @Html.ActionLink("Edit", "EditPatient", new { id = OtherStaff.StaffID })
                            @Html.ActionLink("Delete", "DeletePatient", new { id = OtherStaff.StaffID })
                            @Html.ActionLink("Details", "DetailsPatient", new { id = OtherStaff.StaffID })
                        </td>



                    </tr>
                }
            </tbody>
            <tfoot>
                <!-- Add footer if needed -->
            </tfoot>
        </table>
    </div>

    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- /.card -->
