 @model GestionHopital.Models.User
@{
    Layout = "~/Views/Shared/_LayoutSecretary.cshtml";
    ViewData["Title"] = "Departments";
}

<h1 class="text-primary">DetailsPatient</h1>

<div class="card">
    <div class="card-body" style="    padding: 3.25rem;">
        <h4 class="card-title">Patient Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            
        </dl>
    </div>
</div>

<div class="mt-3">
    @Html.ActionLink("Edit", "EditPatient", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    <a asp-action="GetPatient" class="btn btn-secondary">Back to List</a>
</div>
 