@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Users";
}
<!-- /.card -->
<div class="row">
    <div class="col-12" style="margin: 10px;">
        <a href="#" class="btn btn-secondary">Cancel</a>
        <a asp-area="" asp-controller="Patient" asp-action="CreatePatient">

            <input type="submit" value="Create new Patient" class="btn btn-success float-right">
        </a>
    </div>
</div>

<!-- ... (previous HTML code) ... -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Patient</h3>
    </div>


    <!-- /.card-header -->

    <div class="card-body">
        <table id="PatientTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Patient ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                   

                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>

                        <td>@patient.Id</td>
                        <td>@patient.Name</td>
                        <td>@patient.Phone</td>
                        <td>@patient.Address</td>
                        <td>@patient.BirthDate.ToString("dd/MM/yyyy")</td>
                        <td>@patient.Gender</td>
                        <td>@patient.role.RoleName</td>
                        <td>@patient.Email</td>
                        <td>@patient.Password</td>
                        <td>@Html.ActionLink("Edit", "EditPatient", new { id = patient.Id })
                        @Html.ActionLink("Delete", "DeletePatient", new { id = patient.Id })
                        @Html.ActionLink("Details", "DetailsPatient", new { id = patient.Id })</td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <!-- Add footer if needed -->
            </tfoot>
        </table>
    </div>

    <!-- /.card-body -->
</div>
<!-- /.card -->
